body {
  margin: 0;
  padding: 0;

  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  min-width: 1600px;

  position: relative;
}

img {
  margin: 0;
  padding: 0;
}


.container {
  width: 1600px;
  margin: 0 auto;
  padding: 0;
}


.header {
  position: absolute;
  top: -10px;
  left: 152px;
  z-index: 1;
  background-image: url(../img/header-bg.png);


}

.header-wrapper {
  margin-left: 213px;  
}

.greeting {
	position: relative;
	margin: 0;
	padding: 0;
	padding-top: 25px;

	font-size: 15px;
	
}

.greeting:after {
content: "";

  position: absolute;

  width: 1170px;
  height: 1px;

  top: 56px;
  left: 0;

  background-color: black;
  z-index: 2;
}

.logo-name {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 35px;
  position: relative;

  font-size: 26px;
  font-weight: bold;
  display: inline-block;
}

.nav-list {
  position: absolute;
  left: 830px;
  top: 88px;

  display: flex;

  list-style: none;
  margin: 0;
  padding: 0;


}

.nav-item { 
  margin: 0;
  padding: 0;
  padding-right: 20px;
  
 }

.nav-item:last-child {
  padding-right: 0;

 }


.nav-link {
  text-decoration: none;
  color: black;

  font-size: 16px;
  font-weight: 600;
  

}

.nav-img-wrapper {
  margin: 0;
  padding: 0;
}

.nav-item--icon {
  padding-top: 2px;
}


.main-title {
  display: inline-block;	
  margin: 0;
  padding: 0;
  padding-left: 280px;
  padding-top: 380px;

}

.advertise-block {
  margin: 0;
  padding: 0;
  background-image: url(../img/main-wallpaper.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 1057px;

  position: relative;

}

.small-main-title {
  display: inline-block;	
  margin: 0;
  margin-left: 380px;
  padding: 0;
  padding-top: 10px;


  font-size: 50px;
  font-weight: bold;
  letter-spacing: 95px;
}

.advertise-text {
  margin: 0;
  margin-left: 297px;
  padding: 0;

  width: 575px;
  text-align: center; 
  display: block;
  
}

.shopping-btn {
  margin: 0;
  margin-top: 60px;
  margin-left: 510px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;

  background-color: #f9236e;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 20px;


}

.shopping-section {
  margin: 0;
  padding: 0;

  background-image: url(../img/main-bg-normal-size.png);
  background-repeat: no-repeat;
}

.shopping-section__advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;  
}


